<div>
  <header style="display:block">
  <nav>
  <ul>
  <li>
  <a href="#"> Home </a>
  </li>
  <li>
  <a href="#"> About </a>
  </li>
  <li>
  <a href="#"> Contact </a>
  </li>
  <li> <a href="#"> Terms of use </a>
  </li>
  <li>
  <a href="#"> Join Us </a>
  </li>
  </ul>
  </nav>
</header>
</div>
  <div style="padding: 40px 10px;">
  <button (click)="sayMessage()" [disabled]="canClick">Trigger alert message</button>
<p [id]="sayHelloId" [style.color]="fontColor">You can set my color in the component!</p>
</div>